
body,html { 
    overflow-x: hidden;
    margin: 0%;
    padding: 0%;
    
}
.carousel-item img {
  background-color: rgba(17, 17, 17, 0.842);
}
.navbar {
    background-color: rgba(34, 81, 212, 0.842);
}

.navbar-nav li {
    padding-left: .57rem ;
    text-transform: uppercase;
    font-weight: 700;
  }
  .carousel-item{
    height: 100%;
  
  }
  #img {
    width: 450px;
  }
  .com img {
    width: 76px;
    height: 76px;
    padding: 10px;
  }
  footer{
    
  }